<!DOCTYPE html>
<html>

<head>
  <title>Get out from the clubhouse </title>
  <link rel='stylesheet' href='/stylesheets/loading.css' />
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      margin: 0;
    }
  </style>
</head>

<body>
  <div class='loadingio-spinner-dual-ball-71bx8feb3bp'>
    <div class='ldio-q6n25cqa42'>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</body>
<script src='/javascripts/auto-redirect.js'></script>
</html>