<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/tailwind.css' />
	<link href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@600;700&display=swap'
	rel='stylesheet'>
</head>

<body>
	<main>
		<div>
			<ul>
				<li></li>
			</ul>
		</div>
	</div>
</body>

</html>